.player{ 
    /* display: flex;
    align-items: center; */
    
}
.section1, .section2{
    background-color: #FFFFFF;
}
main{
}
body{
    background-color: #E5E5E5 !important;
}
.player-img{
    width: 60px;
    height: 60px;
}
.bimg img{
    width: 177px;
    height: 117px;
}
.course-img{
    width: 224px;
    height: 104px;
}
.course{
    width: 262px;
    height: 270px;
    /* background-color: royalblue; */
}
.star {
}
.player{
    width: 250px;
}